/* THEME SPECIFIC STYLES */

@import '../../talarius/scss/app';

.v-main .contents {
  h1 {
    padding: 0;
    color: mc('green', '800');
    margin-top: 2rem;
    position: relative;

    @at-root .theme--dark & {
      color: mc('grey', '300');
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, mc('green', '400'), rgba(mc('green', '400'), 0));
      border-radius: 3px;

      @at-root .theme--dark & {
        background: linear-gradient(to right, mc('green', '300') 0%, mc('green', '500') 10%, rgba(mc('green', '900'), 0) 100%);
      }

      @at-root .is-rtl & {
        background: linear-gradient(to left, mc('green', '400'), rgba(mc('green', '400'), 0));
      }
      @at-root .theme--dark.is-rtl & {
        background: linear-gradient(to left, mc('grey', '600'), rgba(mc('grey', '600'), 0));
      }
    }
  }
}
