/* Styling for custom colors */

.bg-black {
  background-color: black;
}
.font-black {
  color: black;
}
.bg-dim-gray {
  background-color: mc('grey', '800');
}
.font-dim-gray {
  color: mc('grey', '800');
}
.bg-gray {
  background-color: mc('grey', '500');
}
.font-gray {
  color: mc('grey', '500');
}
.bg-light-gray {
  background-color: mc('grey', '200');
}
.font-light-gray {
  color: mc('grey', '200');
}
.bg-white {
  background-color: white;
}
.font-white {
  color: white;
}
.bg-red {
  background-color: mc('red', '600');
}
.font-red {
  color: mc('red', '600');
}
.bg-orange {
  background-color: mc('orange', '400');
}
.font-orange {
  color: mc('orange', '400');
}
.bg-yellow {
  background-color: mc('yellow', '600');
}
.font-yellow {
  color: mc('yellow', '600');
}
.bg-light-green {
  background-color: hsl(90, 75%, 60%);
}
.font-light-green {
  color: hsl(90, 75%, 60%);
}
.bg-green {
  background-color: hsl(120, 75%, 60%);
}
.font-green {
  color: hsl(120, 75%, 60%);
}
.bg-aqua {
  background-color: hsl(150, 75%, 60%);
}
.font-aqua {
  color: hsl(150, 75%, 60%);
}
.bg-turquoise {
  background-color: hsl(180, 75%, 60%);
}
.font-turquoise {
  color: hsl(180, 75%, 60%);
}
.bg-light-blue {
  background-color: mc('light-blue', '300');
}
.font-light-blue {
  color: mc('light-blue', '300');
}
.bg-blue {
  background-color: mc('blue', '500');
}
.font-blue {
  color: mc('blue', '500');
}
.bg-purple {
  background-color: mc('purple', '500');
}
.font-purple {
  color: mc('purple', '500');
}
