/* Styling for game summary cards */

.v-main .contents {
  blockquote.is-game {
    background-color: mc('deep-purple', '50');
    border-color: mc('deep-purple', '300');

    &::before {
      content: "\F0E36";
    }

    code {
      background-color: mc('deep-purple', '50');
      color: mc('deep-purple', '900');
    }

    h2 {
      a.is-internal-link {
        text-decoration: none;
        position: relative;
        color: mc('deep-purple', '400');
        &:hover {
          text-decoration: underline;
          color: mc('deep-purple', '300');
        }
        &::after {
          font: normal normal normal 24px/1 "Material Design Icons", sans-serif;
          content: "\F0142";
          text-decoration: none !important;
        }
      }
    }

    @at-root .theme--dark & {
      background-color: mc('deep-purple', '900');
      border-color: mc('deep-purple', '400');
    }
  }
}
