/* Styling for example boxes */

.v-main .contents {
  blockquote.is-multiquote {
    background-color: mc('blue-grey', '50');
    display: block;
    border-left: 2px solid mc('blue', '600');
    padding: 10px 0 10px 10px;
    border-radius: 8px;

    &::before {
      content: none;
    }

    @at-root .theme--dark & {
      background-color: mc('grey', '850');
      border-left: 2px solid mc('blue', '400');
    }

    .line, .context {
      padding-bottom: 5px;
    }

    .speaker {
      font-weight: bold;
      &::after {
        content: ': ';
      }
    }

    .recorded-at, .context {
      font-style: italic;
    }
  }
}
