/* Styling for table elements */

.v-main .contents {
  table {

    &.dense {
      td, th {
        font-size: inherit;
        padding: .2rem;
      }
    }

    &.very-dense {
      td, th {
        font-size: .85rem;
        padding: .2rem;
      }
    }

    // solid border between multiple body sections
    tbody + tbody tr:first-child td {
      border-top: 2px solid mc('grey', '500');
    }

    // alternate row shading in helper class
    &.shaded-table {
      tr {
        td {
          &:nth-child(even) {
            background-color: mc('grey', '50');

            @at-root .theme--dark & {
              background-color: darken(mc('grey', '900'), 4%);
            }
          }
        }

        &:nth-child(even) {
          td {
            background-color: mc('grey', '50');

            @at-root .theme--dark & {
              background-color: darken(mc('grey', '800'), 8%);
            }

            &:nth-child(even) {
              background-color: mc('grey', '100');

              @at-root .theme--dark & {
                background-color: darken(mc('grey', '800'), 10%);
              }
            }
          }
        }
      }
    }

    // fancy gradient underline for table caption
    caption {
      font-weight: bold;
    }
  }
}
