/* Styling for timelines */

.v-main .contents {

  .timeline {
    text-align: left;
    width: 95%;
    margin: 1em auto 1em auto;

    .wrapper-timeline {
      position: relative;
    }

    .year {
      padding: 10px;
      font-weight: bold;
      font-size: 18px;
      margin: 5px;
    }

    .break {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;

      .title {
        padding: 10px;
        margin: 0;
        font-weight: bold;
        font-size: 18px;
        background-color: #fff;
        border-radius: 15px;
        z-index: 1;

        @at-root .theme--dark & {
          background-color: mc('grey', '900');
        }
      }

      hr {
        position: absolute;
        z-index: 0;
        height: 1px;
        width: 100%;
        background:
          radial-gradient(
            circle,
            rgba(97, 97, 97, 1) 0%,
            rgba(97, 97, 97, 0) 100%
          );
      }
    }

    .wrapper-item {
      display: grid;
      grid-template-columns: 1fr 5px 1fr;
      margin-bottom: 0;

      .divider {
        /* background-color: #ccd5db; */
        background-color: rgb(236, 239, 241);

        @at-root .theme--dark & {
          background-color: rgb(136, 139, 141);
        }

        .dot {
          display: flex;
          align-items: center;
          justify-content: center;

          position: relative;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          left: -5px;
          top: 26px;

          /* background-color: #2da1bf; */
          background-color: rgb(30, 136, 229);

          img {
            border-radius: 50%;
            width: 15px;
            height: 15px;
          }
        }
      }

      .year-item {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        &:nth-child(3) {
          align-items: flex-start;
        }
      }

      .timeline-item {
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;

        &:nth-child(1) {
          padding-right: 15px;
        }

        &:nth-child(3) {
          padding-left: 15px;
        }

        .item-date {
          margin: 0;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        h3 {
          margin: 0;
          padding: 5px 0;

          &:first-child {
            padding: 0;
          }
        }

        p {
          margin: 0;
        }
      }
    }

    /*
    spacing overrides for 31px dot size

    31px allows perfect centering while 32px does not. Background image for
    large dot can still be a 32px image and will only suffer minor clipping.
     */
    .dot-large {
      .divider .dot {
        width: 31px;
        height: 31px;
        left: -13px;
        top: 19px;

        img {
          width: 31px;
          height: 31px;
        }
      }

      .year-item {
        margin-left: 11px;
        margin-right: 11px;
      }

      .timeline-item {

        &:nth-child(1) {
          padding-right: 21px;
        }

        &:nth-child(3) {
          padding-left: 21px;
        }
      }
    }

    /*
    squish left or right column for better use of space
     */
    &.squish-left {
      .break {
        justify-content: flex-start;

        .title {
          margin-left: 5em;
        }
      }

      .wrapper-item {
        grid-template-columns: 0.25fr 5px 1fr;
      }
    }

    &.squish-right {
      .break {
        justify-content: flex-end;

        .title {
          margin-right: 5em;
        }
      }

      .wrapper-item {
        grid-template-columns: 1fr 5px 0.25fr;
      }
    }
  }
}
